.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color:whitesmoke;
    background-image: linear-gradient(79deg, #0d0d0e, #393838 48%, #817d7d);
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    margin-top: 10px;
    border: none;
    background-color: rgb(142, 140, 143);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }
  .h2{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .auth-form-container{
    padding: 50px;
    margin-top: 0px;
  }